.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f8f9fa;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .back-button {
    background-color: #222e3c;
    border: none;
    color:white;
    cursor: pointer;
    font-size: 16px;
    padding: 9px;
    text-decoration: none;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .card-footer {
    background-color: #f8f9fa;
    padding: 10px 16px;
    text-align: right;
  }
  