<div class="p-5">
  <app-cards>
    <header></header>
    <content>
      <h1 class="text-center">Login</h1>
      <form (ngSubmit)="onlogin()" [formGroup]="form">
        <div class="form-group">
          <app-controlcontainers name="username" label="Username" errorMsg="Username is required"
            [isLabelOnSameLine]="false" tooltipText="Enter your username">
            <input type="text" formControlName="username" placeholder="john Doe" autocomplete="username"
              class="form-control" id="username" />
          </app-controlcontainers>
        </div>

        <!-- Password Field with app-controlcontainers -->
        <div class="form-group">
          <app-controlcontainers name="password" label="Password" errorMsg="Password is required"
            [isLabelOnSameLine]="false" tooltipText="Enter your password">
            <input type="password" formControlName="password" placeholder="Password" autocomplete="current-password"
              class="form-control" id="password" />
          </app-controlcontainers>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-success m-2">Save</button>
      </form>
    </content>
  </app-cards>
</div>