<header id="header" class="header">
    <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
        <a class="logo d-flex align-items-center">
            <!-- <img src="assets/img/logo.png" alt="Logo"> -->
            <span class="span" style="color: white;">DemoProject</span>
        </a>
        
        <div class="d-flex align-items-center">
            <i class="bi bi-list toggle-sidebar-btn"></i>
            
            <!-- Logout button -->
            <button class="btn btn-outline-light ms-3" (click)="logout()">
                Logout
            </button>
        </div>
    </div>
</header>
