

 <div class="d-flex" style="width: 100%;">
    @if (isLoggedIn) {
        <div id="sidebar" style=" width: 14%; height: 100vh;" >
            <app-sidebar></app-sidebar> 
        </div>
    }
 
        <div id="navbar" style="  height: 10vh;" [style.width]="isLoggedIn ? '86%' : '100%'" >
            @if (isLoggedIn) {
            <app-navbar></app-navbar>
            }
            <div [style.padding]="isLoggedIn?'10px':'0px'">
                <router-outlet></router-outlet>
            </div>
        
        </div>
    
</div>



