<app-card2 (back)="goBack()">
  <div header1 class="p-3">
    <h4 class="mb-0">Sanction Order Entry</h4>
  </div>

  <div content1 class="p-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <app-controlcontainers name="FinancialYearId" label="Financial Year" errorMsg="financial Year is required"
              [isLabelOnSameLine]="false" tooltipText="Enter your username">
              <app-dropdown [items]="financialYears" formControlName="FinancialYearId"
                placeholder="Choose a Financial Year" (valueChange)="onDropdownChange($event)">
              </app-dropdown>
            </app-controlcontainers>
          </div>

          <div class="col-md-4">
            <app-controlcontainers name="schemeid" label="Scheme Name" errorMsg="Scheme Name is required"
              [isLabelOnSameLine]="false" tooltipText="Enter your username">
              <app-dropdown [items]="schemename" formControlName="schemeid" placeholder="Choose a Scheme Name"
                (valueChange)="ddlSchemeChange($event)">
              </app-dropdown>
            </app-controlcontainers>
          </div>

          <div class="col-md-4">
            <app-controlcontainers name="componentid" label="Component Name" errorMsg="Component Name is required"
              [isLabelOnSameLine]="false" tooltipText="Enter your username">
              <app-dropdown [items]="componentName" formControlName="componentid" placeholder="Choose a component  Name"
                (valueChange)="ddlComponentChange($event)">
              </app-dropdown>
            </app-controlcontainers>
          </div>

          @if(tablegroup!= false){
          <div class="col-md-6">
            <div class="row">
              <table class="table table-bordered " style="border: 1px solid black;">
                <tr class=" table-bordered">
                  <td>
                    sanctionamount
                  </td>
                  <td>
                    expenditure amount
                  </td>
                  <td>
                    balance amount
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="text" text="" formControlName="sanctionAmount" class="form-control"
                      [readOnly]="true" />
                  </td>
                  <td>
                    <input type="text" formControlName="expenditureAmount" class="form-control" [readOnly]="true" />
                  </td>
                  <td>
                    <input type="text" formControlName="balanceAmount" class="form-control" [readOnly]="true" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          }

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <app-controlcontainers name="amount" label="Amount " errorMsg="amount  required"
                  [isLabelOnSameLine]="false" tooltipText="Enter your username">
                  <input formControlName="amount" type="text" placeholder="amount in Rupee" class="form-control">
                  <div *ngIf="form.get('amount').invalid && (form.get('amount').dirty || form.get('amount').touched)">
                    <small class="text-danger" *ngIf="form.get('amount').hasError('pattern')">
                      Please enter a valid amount (up to two decimal places).
                    </small>
                  </div>
                </app-controlcontainers>
              </div>


              <div class="col-md-4">
                <app-controlcontainers name="sanctionnumber" label="Sanction No." errorMsg="sanction number is required"
                  [isLabelOnSameLine]="false" tooltipText="Enter your username">
                  <input formControlName="sanctionnumber" type="text" placeholder="AB-134" class="form-control">
                </app-controlcontainers>
              </div>


              <div class="col-md-4">
                <app-controlcontainers name="sanctionfileupload" label="Sanction File upload"
                  errorMsg="sanction File is required" [isLabelOnSameLine]="false" tooltipText="Enter your username">
                  <div class="file-upload-container">
                    <div class="custom-file">
                      <input type="file" class="form-control" id="customFile" (change)="onFileSelect($event)"
                        formControlName="sanctionfileupload" accept=".jpg,.png,.pdf,.docx" />
                      <label class="custom-file-label" for="customFile">
                        {{ selectedFileName || 'Choose file...' }}
                      </label>
                    </div>
                  </div>
                </app-controlcontainers>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-success m-2">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-card2>