<div class="cf">
    <div class="row">
<div class="col-md-12">
    <app-header></app-header>
</div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="p-5">
            <app-cards>
                <header> Welcome to Maharashtra</header>
                <content> 
                    <li >   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis asperiores nulla fuga repellendus iusto exercitationem voluptatibus, quidem fugit distinctio velit. Id nemo doloribus sunt libero provident atque nam voluptatibus, facere ducimus consequuntur dolore culpa similique illo nesciunt enim autem reprehenderit tempora veniam est? Excepturi ratione non aliquid culpa blanditiis ab!</li>
                    <li >   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis asperiores nulla fuga repellendus iusto exercitationem voluptatibus, quidem fugit distinctio velit. Id nemo doloribus sunt libero provident atque nam voluptatibus, facere ducimus consequuntur dolore culpa similique illo nesciunt enim autem reprehenderit tempora veniam est? Excepturi ratione non aliquid culpa blanditiis ab!</li>
                    <li >   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis asperiores nulla fuga repellendus iusto exercitationem voluptatibus, quidem fugit distinctio velit. Id nemo doloribus sunt libero provident atque nam voluptatibus, facere ducimus consequuntur dolore culpa similique illo nesciunt enim autem reprehenderit tempora veniam est? Excepturi ratione non aliquid culpa blanditiis ab!</li>
                    <li >   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis asperiores nulla fuga repellendus iusto exercitationem voluptatibus, quidem fugit distinctio velit. Id nemo doloribus sunt libero provident atque nam voluptatibus, facere ducimus consequuntur dolore culpa similique illo nesciunt enim autem reprehenderit tempora veniam est? Excepturi ratione non aliquid culpa blanditiis ab!</li>
                    <li >   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis asperiores nulla fuga repellendus iusto exercitationem voluptatibus, quidem fugit distinctio velit. Id nemo doloribus sunt libero provident atque nam voluptatibus, facere ducimus consequuntur dolore culpa similique illo nesciunt enim autem reprehenderit tempora veniam est? Excepturi ratione non aliquid culpa blanditiis ab!</li>
                    <li >   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis asperiores nulla fuga repellendus iusto exercitationem voluptatibus, quidem fugit distinctio velit. Id nemo doloribus sunt libero provident atque nam voluptatibus, facere ducimus consequuntur dolore culpa similique illo nesciunt enim autem reprehenderit tempora veniam est? Excepturi ratione non aliquid culpa blanditiis ab!</li>
                    <li >   Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis asperiores nulla fuga repellendus iusto exercitationem voluptatibus, quidem fugit distinctio </li>
                  </content>
            </app-cards>
        </div>
        
    </div>
    <div class="col-md-4">
        
         <app-login></app-login>
    </div>
</div>

    <div class="row">
    <div class="col-md-12 pt-8">
        <app-footer></app-footer>
    </div>
</div>
