<div *ngIf="!isLabelOnSameLine" class="form-label">
	<label [ngClass]="{ required: status && !control?.disabled }">
	  {{ label }}
	</label>
  </div>
  
  <div [ngClass]="isLabelOnSameLine ? 'mt-0' : 'mt-3'" class="mb-3">
	<ng-content></ng-content>
  
	<label
	  *ngIf="isLabelOnSameLine"
	  [ngClass]="{ 'text-danger': status && !control?.disabled }"
	  class="form-label ms-2"
	>
	  {{ label }}
	</label>
  
	<ng-container *ngIf="control?.errors">
	  <app-error
		[displayError]="control.invalid && control.touched && control.errors?.['required']"
		[errorMsg]="errorMsg"
	  ></app-error>
	</ng-container>
  </div>
  